In [2]:
import os
import boto3
import re
import sagemaker

role = sagemaker.get_execution_role()
region = boto3.Session().region_name

# S3 bucket for saving code and model artifacts.
# Feel free to specify a different bucket and prefix
bucket = sagemaker.Session().default_bucket()

prefix = (
    "sagemaker/titanic-prediction"  # place to upload training files within the bucket
)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import time
import json
import sagemaker.amazon.common as smac

In [4]:
s3 = boto3.client("s3")

filename = "titanic-train.csv"
# s3://datascience-sagemaker-mk/titanic/train.csv
s3.download_file(
    f"datascience-sagemaker-mk", "titanic/train.csv", filename
)
data = pd.read_csv(filename)

In [5]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
# data.columns = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
#        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [8]:

# save the data
data.to_csv("data-titanic.csv", sep=",", index=False)

# print the shape of the data file
print(data.shape)

# show the top few rows
display(data.head())

# describe the data object
display(data.describe())

# we will also summarize the categorical field diganosis
display(data.Survived.value_counts())

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

0    549
1    342
Name: Survived, dtype: int64

In [9]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
cols_to_drop = ["PassengerId", "Name", "Ticket", "Cabin"]

In [11]:
data = data.drop(columns=cols_to_drop)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [13]:
X = pd.get_dummies(data)

In [14]:
cols_to_convert = list(X.select_dtypes(exclude='float64'))

In [15]:
cols_to_convert

['Survived',
 'Pclass',
 'SibSp',
 'Parch',
 'Sex_female',
 'Sex_male',
 'Embarked_C',
 'Embarked_Q',
 'Embarked_S']

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Age         714 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Sex_female  891 non-null    uint8
 7   Sex_male    891 non-null    uint8
 8   Embarked_C  891 non-null    uint8
 9   Embarked_Q  891 non-null    uint8
 10  Embarked_S  891 non-null    uint8
dtypes: float64(2), int64(4), uint8(5)
memory usage: 46.2 KB

In [17]:
for col in cols_to_convert:
    X[col] = X[col].astype('float64')

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    float64
 1   Pclass      891 non-null    float64
 2   Age         714 non-null    float64
 3   SibSp       891 non-null    float64
 4   Parch       891 non-null    float64
 5   Fare        891 non-null    float64
 6   Sex_female  891 non-null    float64
 7   Sex_male    891 non-null    float64
 8   Embarked_C  891 non-null    float64
 9   Embarked_Q  891 non-null    float64
 10  Embarked_S  891 non-null    float64
dtypes: float64(11)
memory usage: 76.7 KB

In [19]:
X.dropna(inplace=True)

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    714 non-null    float64
 1   Pclass      714 non-null    float64
 2   Age         714 non-null    float64
 3   SibSp       714 non-null    float64
 4   Parch       714 non-null    float64
 5   Fare        714 non-null    float64
 6   Sex_female  714 non-null    float64
 7   Sex_male    714 non-null    float64
 8   Embarked_C  714 non-null    float64
 9   Embarked_Q  714 non-null    float64
 10  Embarked_S  714 non-null    float64
dtypes: float64(11)
memory usage: 66.9 KB

In [23]:
rand_split = np.random.rand(len(X))
train_list = rand_split < 0.8
val_list = (rand_split >= 0.8) 

data_train = X[train_list]
data_val = X[val_list]

In [71]:
X

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,1.0
1,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,1.0
3,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,1.0
4,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
885,0.0,3.0,39.0,0.0,5.0,29.1250,1.0,0.0,0.0,1.0,0.0
886,0.0,2.0,27.0,0.0,0.0,13.0000,0.0,1.0,0.0,0.0,1.0
887,1.0,1.0,19.0,0.0,0.0,30.0000,1.0,0.0,0.0,0.0,1.0
889,1.0,1.0,26.0,0.0,0.0,30.0000,0.0,1.0,1.0,0.0,0.0
890,0.0,3.0,32.0,0.0,0.0,7.7500,0.0,1.0,0.0,1.0,0.0

In [72]:
data_train

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,1.0
1,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,1.0
3,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,1.0
6,0.0,1.0,54.0,0.0,0.0,51.8625,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
884,0.0,3.0,25.0,0.0,0.0,7.0500,0.0,1.0,0.0,0.0,1.0
885,0.0,3.0,39.0,0.0,5.0,29.1250,1.0,0.0,0.0,1.0,0.0
886,0.0,2.0,27.0,0.0,0.0,13.0000,0.0,1.0,0.0,0.0,1.0
887,1.0,1.0,19.0,0.0,0.0,30.0000,1.0,0.0,0.0,0.0,1.0
890,0.0,3.0,32.0,0.0,0.0,7.7500,0.0,1.0,0.0,1.0,0.0

In [24]:
train_y = ((data_train.iloc[:, 1]) ).to_numpy()
train_X = data_train.iloc[:, 2:].to_numpy()

val_y = ((data_val.iloc[:, 1])).to_numpy()
val_X = data_val.iloc[:, 2:].to_numpy()

# test_y = ((data_test.iloc[:, 1]) + 0).to_numpy()
# test_X = data_test.iloc[:, 2:].to_numpy();

In [73]:
train_X

array([[22.,  1.,  0., ...,  0.,  0.,  1.],
       [38.,  1.,  0., ...,  1.,  0.,  0.],
       [26.,  0.,  0., ...,  0.,  0.,  1.],
       ...,
       [27.,  0.,  0., ...,  0.,  0.,  1.],
       [19.,  0.,  0., ...,  0.,  0.,  1.],
       [32.,  0.,  0., ...,  0.,  1.,  0.]])

In [27]:
train_file = "titanic_linear_train.data"

f = io.BytesIO()
smac.write_numpy_to_dense_tensor(f, train_X.astype("float32"), train_y.astype("float32"))
f.seek(0)

preprocess_bucket = 'datascience-sagemaker-mk'
prefix = 'titanic'

boto3.Session().resource("s3").Bucket(preprocess_bucket).Object(
    os.path.join(prefix, "train", train_file)
).upload_fileobj(f)

In [28]:
validation_file = "titanic-linear_validation.data"

f = io.BytesIO()
smac.write_numpy_to_dense_tensor(f, val_X.astype("float32"), val_y.astype("float32"))
f.seek(0)

boto3.Session().resource("s3").Bucket(preprocess_bucket).Object(
    os.path.join(prefix, "validation", validation_file)
).upload_fileobj(f)

In [29]:
from sagemaker import image_uris

container = image_uris.retrieve(region=boto3.Session().region_name, framework="linear-learner")

In [30]:
bucket = 'datascience-sagemaker-mk'
prefix = 'titanic'

In [31]:
linear_job = "titanic-linear-" + time.strftime("%Y-%m-%d-%H-%M-%S", time.gmtime())

print("Job name is:", linear_job)

linear_training_params = {
    "RoleArn": role,
    "TrainingJobName": linear_job,
    "AlgorithmSpecification": {"TrainingImage": container, "TrainingInputMode": "File"},
    "ResourceConfig": {"InstanceCount": 1, "InstanceType": "ml.c4.2xlarge", "VolumeSizeInGB": 10},
    "InputDataConfig": [
        {
            "ChannelName": "train",
            "DataSource": {
                "S3DataSource": {
                    "S3DataType": "S3Prefix",
                    "S3Uri": "s3://{}/{}/train/".format(bucket, prefix),
                    "S3DataDistributionType": "ShardedByS3Key",
                }
            },
            "CompressionType": "None",
            "RecordWrapperType": "None",
        },
        {
            "ChannelName": "validation",
            "DataSource": {
                "S3DataSource": {
                    "S3DataType": "S3Prefix",
                    "S3Uri": "s3://{}/{}/validation/".format(bucket, prefix),
                    "S3DataDistributionType": "FullyReplicated",
                }
            },
            "CompressionType": "None",
            "RecordWrapperType": "None",
        },
    ],
    "OutputDataConfig": {"S3OutputPath": "s3://{}/{}/".format(bucket, prefix)},
    "HyperParameters": {
        "feature_dim": "9",
        "mini_batch_size": "100",
        "predictor_type": "regressor",
        "epochs": "10",
        "num_models": "32",
        "loss": "absolute_loss",
    },
    "StoppingCondition": {"MaxRuntimeInSeconds": 60 * 60},
}

Job name is: titanic-linear-2023-05-22-13-56-52

In [32]:
%%time

region = boto3.Session().region_name
sm = boto3.client("sagemaker")

sm.create_training_job(**linear_training_params)

status = sm.describe_training_job(TrainingJobName=linear_job)["TrainingJobStatus"]
print(status)
sm.get_waiter("training_job_completed_or_stopped").wait(TrainingJobName=linear_job)
if status == "Failed":
    message = sm.describe_training_job(TrainingJobName=linear_job)["FailureReason"]
    print("Training failed with the following error: {}".format(message))
    raise Exception("Training job failed")

InProgress
CPU times: user 188 ms, sys: 6.41 ms, total: 195 ms
Wall time: 4min

In [33]:
linear_hosting_container = {
    "Image": container,
    "ModelDataUrl": sm.describe_training_job(TrainingJobName=linear_job)["ModelArtifacts"][
        "S3ModelArtifacts"
    ],
}

create_model_response = sm.create_model(
    ModelName=linear_job, ExecutionRoleArn=role, PrimaryContainer=linear_hosting_container
)

print(create_model_response["ModelArn"])

arn:aws:sagemaker:us-east-1:287758680514:model/titanic-linear-2023-05-22-13-56-52

## host on EC2 for inference

In [35]:
linear_job

'titanic-linear-2023-05-22-13-56-52'

In [38]:
linear_endpoint_config = "titanic-linear-endpoint-config-" + time.strftime(
    "%Y-%m-%d-%H-%M-%S", time.gmtime()
)
print(linear_endpoint_config)
create_endpoint_config_response = sm.create_endpoint_config(
    EndpointConfigName=linear_endpoint_config,
    ProductionVariants=[
        {
            "InstanceType": "ml.p2.xlarge",
            "InitialInstanceCount": 1,
            "ModelName": linear_job,
            "VariantName": "AllTraffic",
        }
    ],
)

print("Endpoint Config Arn: " + create_endpoint_config_response["EndpointConfigArn"])

titanic-linear-endpoint-config-2023-05-22-14-53-30
Endpoint Config Arn: arn:aws:sagemaker:us-east-1:287758680514:endpoint-config/titanic-linear-endpoint-config-2023-05-22-14-53-30

In [39]:
%%time

linear_endpoint = "titanic-linear-endpoint-" + time.strftime("%Y%m%d%H%M", time.gmtime())
print(linear_endpoint)
create_endpoint_response = sm.create_endpoint(
    EndpointName=linear_endpoint, EndpointConfigName=linear_endpoint_config
)
print(create_endpoint_response["EndpointArn"])

resp = sm.describe_endpoint(EndpointName=linear_endpoint)
status = resp["EndpointStatus"]
print("Status: " + status)

sm.get_waiter("endpoint_in_service").wait(EndpointName=linear_endpoint)

resp = sm.describe_endpoint(EndpointName=linear_endpoint)
status = resp["EndpointStatus"]
print("Arn: " + resp["EndpointArn"])
print("Status: " + status)

if status != "InService":
    raise Exception("Endpoint creation did not succeed")

titanic-linear-endpoint-202305221457
arn:aws:sagemaker:us-east-1:287758680514:endpoint/titanic-linear-endpoint-202305221457
Status: Creating
Arn: arn:aws:sagemaker:us-east-1:287758680514:endpoint/titanic-linear-endpoint-202305221457
Status: InService
CPU times: user 113 ms, sys: 17.5 ms, total: 130 ms
Wall time: 4min 32s

## test data

In [79]:
def transform (bucket, path):
    s3 = boto3.client("s3")

    filename = "titanic-test.csv"
 #f"datascience-sagemaker-mk", "titanic/test.csv", filename
    s3.download_file(
        bucket, path, filename
    )
    data = pd.read_csv(filename)
    data = data.drop(columns=cols_to_drop)
    X = pd.get_dummies(data)

    cols_to_convert = list(X.select_dtypes(exclude='float64'))
 
    for col in cols_to_convert:
        X[col] = X[col].astype('float64')
 
    X.dropna(inplace=True)

    print (X)
    
#     test_y = ((X.iloc[:, 1])).to_numpy()
    test_X = X.iloc[:, 1:].to_numpy();
#     test_X = X.to_numpy();
    return test_X, test_y

In [80]:
test_X, test_y = transform('datascience-sagemaker-mk', 'titanic/test.csv')

     Pclass   Age  SibSp  Parch      Fare  Sex_female  Sex_male  Embarked_C  \
0       3.0  34.5    0.0    0.0    7.8292         0.0       1.0         0.0
1       3.0  47.0    1.0    0.0    7.0000         1.0       0.0         0.0
2       2.0  62.0    0.0    0.0    9.6875         0.0       1.0         0.0
3       3.0  27.0    0.0    0.0    8.6625         0.0       1.0         0.0
4       3.0  22.0    1.0    1.0   12.2875         1.0       0.0         0.0
..      ...   ...    ...    ...       ...         ...       ...         ...
409     3.0   3.0    1.0    1.0   13.7750         1.0       0.0         0.0
411     1.0  37.0    1.0    0.0   90.0000         1.0       0.0         0.0
412     3.0  28.0    0.0    0.0    7.7750         1.0       0.0         0.0
414     1.0  39.0    0.0    0.0  108.9000         1.0       0.0         1.0
415     3.0  38.5    0.0    0.0    7.2500         0.0       1.0         0.0

     Embarked_Q  Embarked_S
0           1.0         0.0
1           0.0         1.0
2           1.0         0.0
3           0.0         1.0
4           0.0         1.0
..          ...         ...
409         0.0         1.0
411         1.0         0.0
412         0.0         1.0
414         0.0         0.0
415         0.0         1.0

[331 rows x 10 columns]

In [81]:
test_X, test_y

(array([[34.5,  0. ,  0. , ...,  0. ,  1. ,  0. ],
        [47. ,  1. ,  0. , ...,  0. ,  0. ,  1. ],
        [62. ,  0. ,  0. , ...,  0. ,  1. ,  0. ],
        ...,
        [28. ,  0. ,  0. , ...,  0. ,  0. ,  1. ],
        [39. ,  0. ,  0. , ...,  1. ,  0. ,  0. ],
        [38.5,  0. ,  0. , ...,  0. ,  0. ,  1. ]]),
 array([34.5 , 47.  , 62.  , 27.  , 22.  , 14.  , 30.  , 26.  , 18.  ,
        21.  , 46.  , 23.  , 63.  , 47.  , 24.  , 35.  , 21.  , 27.  ,
        45.  , 55.  ,  9.  , 21.  , 48.  , 50.  , 22.  , 22.5 , 41.  ,
        50.  , 24.  , 33.  , 30.  , 18.5 , 21.  , 25.  , 39.  , 41.  ,
        30.  , 45.  , 25.  , 45.  , 60.  , 36.  , 24.  , 27.  , 20.  ,
        28.  , 10.  , 35.  , 25.  , 36.  , 17.  , 32.  , 18.  , 22.  ,
        13.  , 18.  , 47.  , 31.  , 60.  , 24.  , 21.  , 29.  , 28.5 ,
        35.  , 32.5 , 55.  , 30.  , 24.  ,  6.  , 67.  , 49.  , 27.  ,
        18.  ,  2.  , 22.  , 27.  , 25.  , 25.  , 76.  , 29.  , 20.  ,
        33.  , 43.  , 27.  , 26.  , 16.  , 28.  , 21.  , 18.5 , 41.  ,
        36.  , 18.5 , 63.  , 18.  ,  1.  , 36.  , 29.  , 12.  , 35.  ,
        28.  , 17.  , 22.  , 42.  , 24.  , 32.  , 53.  , 43.  , 24.  ,
        26.5 , 26.  , 23.  , 40.  , 10.  , 33.  , 61.  , 28.  , 42.  ,
        31.  , 22.  , 30.  , 23.  , 36.  , 13.  , 24.  , 29.  , 23.  ,
        42.  , 26.  ,  7.  , 26.  , 41.  , 26.  , 48.  , 18.  , 22.  ,
        27.  , 23.  , 40.  , 15.  , 20.  , 54.  , 36.  , 64.  , 30.  ,
        37.  , 18.  , 27.  , 40.  , 21.  , 17.  , 40.  , 34.  , 11.5 ,
        61.  ,  8.  , 33.  ,  6.  , 18.  , 23.  ,  0.33, 47.  ,  8.  ,
        25.  , 35.  , 24.  , 33.  , 25.  , 32.  , 17.  , 60.  , 38.  ,
        42.  , 57.  , 50.  , 30.  , 21.  , 22.  , 21.  , 53.  , 23.  ,
        40.5 , 36.  , 14.  , 21.  , 21.  , 39.  , 20.  , 64.  , 20.  ,
        18.  , 48.  , 55.  , 45.  , 45.  , 41.  , 22.  , 42.  , 29.  ,
         0.92, 20.  , 27.  , 24.  , 32.5 , 28.  , 19.  , 21.  , 36.5 ,
        21.  , 29.  ,  1.  , 30.  , 17.  , 46.  , 26.  , 20.  , 28.  ,
        40.  , 30.  , 22.  , 23.  ,  0.75,  9.  ,  2.  , 36.  , 24.  ,
        30.  , 53.  , 36.  , 26.  ,  1.  , 30.  , 29.  , 32.  , 43.  ,
        24.  , 64.  , 30.  ,  0.83, 55.  , 45.  , 18.  , 22.  , 37.  ,
        55.  , 17.  , 57.  , 19.  , 27.  , 22.  , 26.  , 25.  , 26.  ,
        33.  , 39.  , 23.  , 12.  , 46.  , 29.  , 21.  , 48.  , 39.  ,
        19.  , 27.  , 30.  , 32.  , 39.  , 25.  , 18.  , 32.  , 58.  ,
        16.  , 26.  , 38.  , 24.  , 31.  , 45.  , 25.  , 18.  , 49.  ,
         0.17, 50.  , 59.  , 30.  , 14.5 , 24.  , 31.  , 27.  , 25.  ,
        22.  , 45.  , 29.  , 21.  , 31.  , 49.  , 44.  , 54.  , 45.  ,
        22.  , 21.  , 55.  ,  5.  , 26.  , 19.  , 24.  , 24.  , 57.  ,
        21.  ,  6.  , 23.  , 51.  , 13.  , 47.  , 29.  , 18.  , 24.  ,
        48.  , 22.  , 31.  , 30.  , 38.  , 22.  , 17.  , 43.  , 20.  ,
        23.  , 50.  ,  3.  , 37.  , 28.  , 39.  , 38.5 ]))

In [82]:
len(test_X)

331

In [83]:
len(test_X[0])

9

In [84]:
def np2csv(arr):
    csv = io.BytesIO()
    np.savetxt(csv, arr, delimiter=",", fmt="%g")
    return csv.getvalue().decode().rstrip()

In [85]:
linear_endpoint

'titanic-linear-endpoint-202305221457'

In [87]:
runtime = boto3.client("runtime.sagemaker")

payload = np2csv(test_X)
response = runtime.invoke_endpoint(
    EndpointName=linear_endpoint, ContentType="text/csv", Body=payload
)
result = json.loads(response["Body"].read().decode())
test_pred = np.array([r["score"] for r in result["predictions"]])

In [88]:
test_pred

array([ 3.50970697,  2.00015283,  2.84324455,  2.85731125,  2.58432174,
        3.15541196,  3.12896466,  2.78249931,  2.66011643,  2.97703457,
        2.20796108,  1.67712879,  1.89013672,  1.36273408,  2.35902858,
        3.44479561,  3.07842112,  2.45806766,  2.02728796,  1.74823129,
        3.40422797,  2.50163054, -0.78330183,  2.33016372,  1.98255587,
        3.04326129,  2.27221394,  2.19485569,  2.82023525,  2.28935575,
        2.35364294,  3.13697147,  2.50937557,  2.89433718,  2.64403486,
        2.53871226,  2.24738169,  1.51104546,  2.9128685 ,  2.25142407,
        0.86305571,  2.19338751,  2.40425229,  2.84590983,  2.58581352,
       -0.28448915,  4.21642065,  2.67881274,  2.91610408, -0.76382732,
        3.10073137,  2.68319392,  3.07900691,  3.31535673,  0.54594111,
        3.40730214,  1.9915601 ,  2.59326077, -1.07510853,  3.26818275,
        3.00697184,  2.3305335 ,  2.66146994, -0.14179635,  0.40537858,
        1.67326498,  2.73595667,  3.26818275,  3.47668552, -0.50714302,
        2.13764143,  3.19634295,  2.5869019 ,  3.41565299,  2.50496578,
        2.06025124,  2.76375628,  2.91438866,  0.47501373,  2.81910872,
        2.54232597,  2.72387838,  1.58750808,  2.73397398,  2.89119339,
        2.83288527,  2.67076635,  3.82624483,  3.00551581,  2.51760387,
        1.95052111,  3.40259361, -0.90195894,  3.14433694,  3.02464294,
        1.92654324,  2.19851875,  2.63694382,  1.7478683 ,  2.85049057,
        2.57600951,  2.98470831,  2.45467782,  2.93483758,  2.74731827,
        2.07802391,  2.49129343,  2.93714142,  2.94950151,  2.82971644,
        2.46970224,  2.54564691,  2.84135318,  0.5468936 , -0.59944582,
        2.62987971,  2.29524946,  2.89565015,  2.98171759,  2.72403741,
        1.70992422,  2.23711801,  3.36147332,  2.94072056, -0.18565559,
        2.47200608,  2.29524946,  2.45278931,  3.45324564,  2.33525848,
        2.4781177 ,  2.37599134,  1.93642259,  3.04781437,  2.4824059 ,
        2.93778157,  2.97010112,  2.66778255,  2.41383314,  2.20234013,
        1.81824422,  1.98197818,  0.80927086,  2.73595667,  1.95099485,
        2.13750148, -0.23705935,  2.46625996,  2.42459679,  3.26022553,
        2.50155759,  2.56989431,  3.29298401,  2.83535767,  3.14296627,
        2.72618198,  2.05327892,  2.59013748,  2.92945099,  3.53571343,
       -0.04239464,  2.75114059,  2.88257122,  3.01034379,  2.9060111 ,
        2.067415  ,  2.91321206,  2.57700658,  2.32883763,  1.47188139,
        2.56472301,  2.10758305,  0.45726156, -0.35235763,  2.38149405,
        3.00515747,  2.46431589,  3.00814819,  1.60185218,  2.96126842,
        2.46512914,  2.59531736,  2.49916768,  2.29891276,  3.10409832,
        1.98345208,  3.03090096,  1.35078216,  3.101861  ,  2.66969824,
        0.87044334,  1.55173683,  1.81652892,  1.15939331,  2.10151887,
        2.34077358,  2.36628008,  2.19851875,  2.95688796,  3.03006792,
        1.4941138 ,  2.91983604,  2.71853781,  2.8410778 ,  2.50522089,
        3.00839305,  2.61248159,  3.00746107,  2.27392912,  3.07778597,
        2.80260229,  3.09171057,  1.69214404,  1.02897859,  2.40947819,
        2.81225133,  2.42925501,  2.72248363,  2.95289087,  2.4624958 ,
        3.5534935 ,  2.91779041,  2.95987535,  2.66297126,  2.14226413,
        3.13695598,  1.52769494,  2.63649797,  2.88977218,  2.85585642,
        2.35356426,  2.81994176,  2.75055385,  2.39749384,  2.9276309 ,
        1.43203366,  1.30720949,  3.52302814,  1.34383965,  1.96339691,
        3.06827044,  3.05498123,  2.96346402,  0.28205061,  3.43245888,
        0.67629266,  3.02321076,  2.86682177,  2.86711502,  2.89119339,
        2.98461199,  2.82971644,  2.5062089 , -0.29720688,  2.97004342,
        2.58507824,  1.64557099,  2.68709397,  2.9469161 ,  1.66678905,
        2.39206362,  2.67755651,  2.86633205,  2.58299971,  2.6890769 ,
        2.77721977,  2.63548684,  3.04665065,  2.75285769, -4.16006088,
        2.63848829,  2.82971644,  2.19131804,  2.87071323,  2.12981439,
        1.4272114 ,  2.88257122,  2.30539751,  1.88019133,  3.05888844,
        2.11420155,  1.27618933,  2.29803276,  3.1999135 ,  2.310184  ,
        2.12981439,  2.85731125,  2.00942659,  2.12089801,  1.47378445,
        2.81285501,  3.04521918,  0.85793924,  2.44355536,  2.40779781,
        1.01567984, -0.97478628,  2.64724422,  2.96456504,  1.71461976,
        3.54899263,  3.70835805,  2.54940081,  1.97761416,  2.93807316,
        2.10307884,  3.82707787,  3.50585127,  1.95287955,  1.50490642,
        3.16989923,  2.36689281,  2.95555544,  2.05631661,  3.76264095,
        1.25115371,  2.98495317,  3.592875  ,  0.46052647,  2.53496432,
        2.0129025 ,  2.63945794,  2.40224528,  3.02376485,  3.01010537,
        0.13621759,  3.01217842,  2.07637119,  2.3557384 ,  0.97162747,
        2.60437155])

In [89]:
test_mae_linear = np.mean(np.abs(test_y - test_pred))
test_mae_baseline = np.mean(
    np.abs(test_y - np.median(train_y))
)  ## training median as baseline predictor

print("Test MAE Baseline :", round(test_mae_baseline, 3))
print("Test MAE Linear:", round(test_mae_linear, 3))

Test MAE Baseline : 28.242
Test MAE Linear: 27.966

In [90]:
test_pred_class = (test_pred > 0.5) + 0
test_pred_baseline = np.repeat(np.median(train_y), len(test_y))

prediction_accuracy = np.mean((test_y == test_pred_class)) * 100
baseline_accuracy = np.mean((test_y == test_pred_baseline)) * 100

print("Prediction Accuracy:", round(prediction_accuracy, 1), "%")
print("Baseline Accuracy:", round(baseline_accuracy, 1), "%")

Prediction Accuracy: 0.9 %
Baseline Accuracy: 0.6000000000000001 %